.prompt {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

:root {
  --coral-pink: #FF6F61;
  --royal-purple: #7851A9;
  --deep-violet: #5D3FD3;
  --bright-aqua: #00FFFF;
  --light-blush: #ffe3e3;
}

.form {
    width: 300px;
    display: flex;
    padding: 100px;
    border-radius: 10px;
    background-color: var(--coral-pink);
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: larger;
}

.form .inputBox {
    padding: 10px;
    width: 100%;
    text-align: start;
    display: flex;
    border-radius: 5px;
}

.form .inputBox:focus {
    outline: none;
}
.form .label {
    padding: 5px;
    width: 100%;
    text-align: start;
    display: flex;
}

.form .startBtn {
    color: white;
    padding: 5px;
    display: flex;
    width: 100%;
    justify-content: center;
    border-radius: 5px;
    padding: 10px;
    font-weight: 600;
    background-color: var(--royal-purple);
    filter: brightness(80%);
    text-decoration: none;
}
.form .startBtn:hover{
  transform: scale(1.1);
  background-color: var(--deep-violet);
}

